@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    background: #141E30;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}
header {
    text-align: center;
    padding: 25px 0 0 0;
    background: #243B55;
}
main {
    text-align: center;
    background: linear-gradient(#243B55, #141E30);
}
main section h1 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}
main input {
    margin-top: 20px;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
}
main input:focus {
    outline: none;
    border: 2px solid #fada06;
    box-shadow: none;
}
main button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 15%;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    background: #FFFFFF;
}
main button:hover {
    background: #fada06;
    color: #FFFFFF;
}
#valorConvertido {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}
#avisoCotacao {
    font-size: 12px;
    font-weight: bold;
    text-transform: lowercase;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #141E30;
    text-align: center;
}
footer img {
    margin: 0 auto 0 auto;
}